.Modal {
  position: absolute;
  top: 10%;
  left: 25%;
  width: auto;
  overflow-y: auto;
  background-color: rgba(255, 255, 255, 0.05);
}

.Modal--Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #232834;
}

.Board--content {
  display: flex;
  flex-wrap: wrap;
  justify-content: stretch;
  margin: 0.5rem;
  border-bottom: 1px rgba(#fff, 0.1) solid;
}
.Board--block {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.1rem;
  margin-bottom: 0.5rem;
  border-radius: 3px;
  cursor: pointer;
  text-align: center;
  background-color: #fff;
  border: 1px solid #748399;
}

.Board--block.active {
  background-color: #01d1ff;
}

.Modal-Button {
  display: flex;
  margin: 1rem;
  justify-content: space-around;
}

.Board {
  margin: 1.5rem
}

.button {
  border: none;
  color: #fff;
  cursor: pointer;
  outline: 0 none;
  font-size: 1rem;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  background-color: #27bd86;
}
